In [4]:
# install library
#!pip install psycopg2-binary
#!pip install --upgrade pip

In [5]:
import pandas   as pd
import psycopg2 as pg

In [9]:
# credentials
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
user = 'member'
password = 'cdspa'

# connection
connection = pg.connect(user=user, password=password, host=host, port=port, database=database)

# cursor
cursor = connection.cursor()

In [10]:
# query schema
query_schema = """
    SELECT nspname
    FROM pg.catalog.pg_namespace
"""

# execute query
cursor.execute( query_schema )
# return data
record_schema = cursor.fetchall()
print(record_schema)

FeatureNotSupported: cross-database references are not implemented: "pg.catalog.pg_namespace"
LINE 3:     FROM pg.catalog.pg_namespace
                 ^

In [ ]:
# query tables
query_tables = """
	SELECT tablename
	FROM pg.tables
	WHERE schemaname='pa004'	
"""

# execute query
cursor.execute( query_tables )
# return data
record_tables = cursor.fetchall()
print(record_tables)

In [11]:
# Colect Data using pandas
# query table users
query_table_user = """
    SELECT *
        FROM pa004.users u LEFT JOIN pa004.vehicle v ON (u.id=v.id)
                           LEFT JOIN pa004.insurance i ON (u.id=i.id)
"""

# execute query
df_raw = pd.read_sql( query_table_user, connection ) 
df_raw = df_raw.drop(df_raw.columns[[5,9]], axis=1)
df_raw.head()

DatabaseError: Execution failed on sql '
    SELECT *
        FROM pa004.users u LEFT JOIN pa004.vehicle v ON (u.id=v.id)
                           LEFT JOIN pa004.insurance i ON (u.id=i.id)
': current transaction is aborted, commands ignored until end of transaction block

In [ ]:
# close connection
cursor.close()
connection.close()